@import '../../assets/scss/styles.module.scss';

.about {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   // background-color: brown;

   @include respond(tab-port) {
      height: 96rem;
      margin-bottom: 4rem;
      // background-color: orange;
   }

   overflow-y: hidden;
   overflow-x: hidden;

   & h2 {
      font-size: 4rem;
      margin-bottom: 4rem;

      @include respond(tab-port) {
         // margin-top: 5rem;
         margin-bottom: 0;
         // background-color: orangered;
      }
   }

   &__content {
      width: 75%;
      padding: 3rem;
      // margin-bottom: 30rem;
      display: grid;
      grid-template-rows: repeat(1, 2fr);
      // background-color: cadetblue;
      grid-template-columns: repeat(2, 1fr);

      @include respond(tab-port) {
         padding: 0;
         grid-template-rows: repeat(2, 2fr);
         grid-template-columns: repeat(1, 1fr);
         margin-bottom: 5rem;
         width: 90%;
         height: 78rem;
         // height: auto;
         // background-color: royalblue;
      }

      &-img {
         display: flex;
         align-items: center;
         justify-content: center;
         // background-color: rgba(144, 238, 144, 0.445);
         width: 45rem;
         margin: 0;
         height: auto;

         @include respond(tab-port) {
            // background-color: rgba(250, 128, 114, 0.603);
            // width: 25rem;
            // width: auto;
            // margin-bottom: -25rem;
            width: 100%;
            height: 31rem;
         }

         & img {
            padding: 0.25rem;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            width: 60%;

            @include respond(tab-port) {
               // max-width: 60%;
               width: 20rem;
            }
         }
      }

      &-p {
         // background-color: rgba(255, 166, 0, 0.486);
         font-size: 1.75rem;
         font-weight: 500;
         max-width: 100%;
         // height: auto;
         @include respond(tab-port) {
            // background-color: rgba(192, 192, 192, 0.582);
            // max-height: 50rem;
            height: 47rem;
            // overflow-y: auto;
         }
      }
   }
}
