// COLORS
$color-primary: #ec7819;
$color-primary-light: #f1964c;
$color-primary-dark: #ca6716;

$color-grey-light-2: #f4f2f2;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

$text-primary: #b6b6b6;
$text-secondary: #ec7819;
$bg-primary-nav: #1F2124;
$bg-secondary-nav: #141418;

$color-linkedin: rgba(10, 102, 194, 0.6);
$color-google: rgba(197, 33, 31, 0.6);
$color-github: rgba(36, 41, 46, 0.6);
$color-resume: rgba(44, 151, 74, 0.6);

$transition-speed: 600ms;

$line: 1px solid $color-grey-light-2;
