@import '../../assets/scss/styles.module.scss';

.projects {
   // display: flex;
   // justify-content: center;
   // align-items: center;
   height: 100vh;
   // padding: 5rem;
   // padding-right: 8rem;
   color: #2f2f2f;
}

.workButton {
   background-color: $color-primary;
}

.workButton:hover {
   background-color: #0ac593;
}

.date {
   color: #fff;
}

#description {
   margin: 1.5em 0 2em 0;
}

.buttonEx {
   text-decoration: none;
   padding: 0.5em 1em;
   border-radius: 5px;
   color: white;
}
