@import '../../assets/scss/styles.module.scss';

.projects {
   height: 100vh;
   color: #2f2f2f;
   padding-inline: 10rem;

   @include respond(tab-port) {
      padding-inline: 8rem;
      // height: 90vh;
      // height: 62rem;
      height: -webkit-fill-available;
      height: 90vh;
      // background-color: purple;
      overflow: hidden;
      overflow-y: auto;
      // height: 110rem;
   } 
   @include respond(phone) {
      padding-inline: 2rem;
   } 
}

.title {
   font-size: 1.7rem;
   margin-bottom: 1rem;
}

.buttons {
   display: flex;
   flex-wrap: wrap;
}

.buttonEx {
   text-decoration: none;
   padding: 0.5em 1em;
   border-radius: 5px;
   color: white;
   &:not(:first-child) {
      margin-left: 2rem;
   }
}

.viewButton {
   font-size: 1.5rem;
   
   background-color: $color-blue;
}

.viewButton:hover {
   background-color: $color-blue-light;
}

.front {
   background-color: $color-primary;

   &:hover {
      background-color: $color-primary-light;
   }
}

.back {
   // background-color: $colo;
   background-color: $color-back;

   &:hover {
      background-color: $color-back-light;
   }
}

.repButton {
   font-size: 1.5rem;
   // margin-left: 2rem;
}

.date {
   // background-color: palegoldenrod;
   color: #fff;
   font-size: 4rem;
}

#description {
   margin: 0.5rem 0 3rem 0;
   // width: 25rem;
   font-size: 1.4rem;
}

.image {
   width: 95%;
}

.subtitle {
   font-size: 1.5rem;
}

.list {
   // background-color: orchid;
   &__item {
      margin-left: 2rem;      
   }
}



